/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';

body {
  position: relative;
  color: white;
  width: 100wh;
  height: 100vh;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}

h1 {text-align: center}
Input {
  text-align: center;
}

.operate_button {
  margin: 3vh 0;
}

.work-list {
  height: 60vh;
}

button:hover {
  transform: scale(1.05);
}

.Hello {
  justify-content: center;
  align-items: center;
  height: 100wh;
  width: 100vh;
  padding: 10vh;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}
